### Объединение датасетов

In [11]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns

In [12]:
# Загрузим датасет №1
processed_data = pd.read_csv('Book_recom_large_FINISH_04_05_2025.csv')

df_large = pd.DataFrame(processed_data)

# Загрузим датасет №2
processed_data = pd.read_csv('Book_recom_small_FINISH_02_05_2025.csv')

df_small = pd.DataFrame(processed_data)

In [13]:
df_small.sample(1)

,Authors,Link,Description,Rating,Title,Category,Number,Number_Description
1370,Cormac McCarthy,http://books.google.com/books/content?id=UYsaQ...,"Set in a small, remote community in rural Tenn...",3.55,The Orchard Keeper,Fiction,2352,"2352 Set in a small, remote community in rural..."

In [14]:
df_large.sample(1)

,Title,Authors,Description,Rating,Category,Link,Number,Number_Description
13735,Donna Dewberry's One Stroke Painting Course,"By Dewberry, Donna S","Designer Donna Dewberry, one of the most innov...",4.13,Self-help,https://raw.github.com/Kosty1703/picture-book/...,18865,"18865 Designer Donna Dewberry, one of the most..."

In [15]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5048 entries, 0 to 5047
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Authors             5048 non-null   object
 1   Link                5048 non-null   object
 2   Description         5048 non-null   object
 3   Rating              5048 non-null   float64
 4   Title               5048 non-null   object
 5   Category            5048 non-null   object
 6   Number              5048 non-null   int64
 7   Number_Description  5048 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 315.6+ KB

In [22]:
print(df_small.nunique())

Authors               3040
Link                  4916
Description           5048
Rating                 194
Title                 4980
Category                24
Number                5048
Number_Description    5048
dtype: int64

In [16]:
df_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57854 entries, 0 to 57853
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               57854 non-null  object
 1   Authors             57854 non-null  object
 2   Description         57854 non-null  object
 3   Rating              57854 non-null  float64
 4   Category            57854 non-null  object
 5   Link                57854 non-null  object
 6   Number              57854 non-null  int64
 7   Number_Description  57854 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.5+ MB

In [21]:
print(df_large.nunique())

Title                 57234
Authors               36052
Description           57854
Rating                  204
Category                 24
Link                     24
Number                57854
Number_Description    57854
dtype: int64

In [17]:
# Объеденим датасеты в один
df_small_large = pd.concat([df_large, df_small], ignore_index=True)

In [18]:
df_small_large.sample(10)

,Title,Authors,Description,Rating,Category,Link,Number,Number_Description
51901,Daily Learning Drills Grade 4,"By Douglas, Vincent",Daily Learning Drills Grade 4 provides young l...,4.61,Nonfiction,https://raw.github.com/Kosty1703/picture-book/...,11134,11134 Daily Learning Drills Grade 4 provides y...
53513,44 Charles Street: A Novel,"By Steel, Danielle",A magical transformation takes place in Daniel...,4.49,Biography,https://raw.github.com/Kosty1703/picture-book/...,31788,31788 A magical transformation takes place in ...
41879,Whales on Stilts: M. T. Anderson's Thrilling T...,"By Anderson, M. T. and Cyrus, Kurt (ILT)",What sort of madman would unleash an army of s...,4.47,Fiction,https://raw.github.com/Kosty1703/picture-book/...,17567,17567 What sort of madman would unleash an arm...
45846,Georgia's Land of the Golden Isles (Brown Thra...,"By Vanstory, Burnette Lightle and Price, Eugen...","Since it first appeared in 1956, Mrs. Vanstory...",4.49,History,https://raw.github.com/Kosty1703/picture-book/...,30662,"30662 Since it first appeared in 1956, Mrs. Va..."
55365,Life: Places of the Bible: A Photographic Pilg...,"By Sullivan, Robert (EDT)","In this special keepsake volume, LIFE takes yo...",4.44,Religion,https://raw.github.com/Kosty1703/picture-book/...,19988,"19988 In this special keepsake volume, LIFE ta..."
6258,Beyond The Far Side (Volume 2),"By Larson, Gary","The second The Far Side collection.1981, 1983 ...",5.00,Art & Culture,https://raw.github.com/Kosty1703/picture-book/...,28934,"28934 The second The Far Side collection.1981,..."
49537,"Crazy Plates: Low-Fat Food So Good, You'll Swe...","By Podleski, Janet and Podleski, Greta",The best-selling authors of Looneyspoons prese...,4.20,Cooking,https://raw.github.com/Kosty1703/picture-book/...,24740,24740 The best-selling authors of Looneyspoons...
3082,Prophet: A Novel,"By Peretti, Frank E.",A top news anchor risks his job and his life t...,4.61,Religion,https://raw.github.com/Kosty1703/picture-book/...,63720,63720 A top news anchor risks his job and his ...
47376,The Bullpen Gospels: A Non-Prospect's Pursuit ...,"By Hayhurst, Dirk",From the humble heights of a Class-A pitcher's...,4.61,Religion,https://raw.github.com/Kosty1703/picture-book/...,26395,26395 From the humble heights of a Class-A pit...
3475,Flashbacks: On Returning to Vietnam,"By Safer, Morley",A noted television journalist records his impr...,4.77,History,https://raw.github.com/Kosty1703/picture-book/...,15726,15726 A noted television journalist records hi...

In [19]:
df_small_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62902 entries, 0 to 62901
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               62902 non-null  object
 1   Authors             62902 non-null  object
 2   Description         62902 non-null  object
 3   Rating              62902 non-null  float64
 4   Category            62902 non-null  object
 5   Link                62902 non-null  object
 6   Number              62902 non-null  int64
 7   Number_Description  62902 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.8+ MB

In [20]:
print(df_small_large.nunique())

Title                 61661
Authors               39092
Description           62814
Rating                  221
Category                 24
Link                   4923
Number                62902
Number_Description    62902
dtype: int64

In [23]:
# маска. Количество пропусков
null_d=df_small_large.isnull().sum()
print(null_d[null_d>0])

Series([], dtype: int64)

In [25]:
# Получаем уникальные значения и их количество
counts = df_small_large['Category'].value_counts()

pd.set_option('display.max_rows', 30) # Показывать все строки без ограничения

print(counts.head(30))

Category
Nonfiction          16401
Fiction             14647
Self-help            4194
Biography            3242
Adventure            3048
History              2824
Thriller             2710
Religion             2161
Fantasy              1513
Technology           1345
Cooking              1268
Business             1237
Art & Culture        1213
Mystery              1123
Juvenile Fiction     1061
Romance               908
Science               904
Horror                730
Politics              604
Psychology            583
Drama                 510
Poetry                331
Economics             197
Paranormal            148
Name: count, dtype: int64

In [27]:
# Проверка на дубликаты по столбцам 'Description'
duplicates = df_small_large[df_small_large.duplicated(subset=['Description'], keep=False)]

# Вывод всех найденных дубликатов
print("Найдено дубликатов:", duplicates.shape[0])
print(duplicates)

Найдено дубликатов: 176
                                                   Title  \
419                                  West With The Night
741    Please Stop Laughing At Me...: One Woman's Ins...
769                       Hitty: Her First Hundred Years
910          The Angel Experiment (Maximum Ride, Book 1)
1128                                The Stones of Summer
...                                                  ...
62519                               The Stones of Summer
62663                                          Australia
62668                    Ecuador & the Galápagos Islands
62771          The Communist Manifesto. A Modern Edition
62880  The Best of America's Test Kitchen 2007. The Y...

                                                 Authors  \
419                                    By Markham, Beryl
741                                     By Blanco, Jodee
769                                     By Field, Rachel
910                                  By Patterson, James
1128                                     By Mossman, Dow
...                                                  ...
62519                                        Dow Mossman
62663  Paul Smitz;Carolyn Bain;Sandra Bao;Susannah Fa...
62668  Danny Palmerlee;Michael Grosberg;Carolyn McCarthy
62771                         Karl Marx;Friedrich Engels
62880                             America's Test Kitchen

                                             Description  Rating    Category  \
419    Describes growing up in an Africa that no long...    3.72  Technology
741    In her poignant work, Jodee Blanco tells how s...    4.05  Nonfiction
769    Hitty is a doll of great charm and character. ...    4.85     Fiction
910    In James Patterson's blockbuster series, fourt...    3.89     Fiction
1128   Originally published to glowing reviews in 197...    4.09     Fiction
...                                                  ...     ...         ...
62519  Originally published to glowing reviews in 197...    3.14     Fiction
62663  Complemented by easy-to use, reliable maps, he...    4.02  Nonfiction
62668  Describes the people, customs, geography, and ...    3.87  Nonfiction
62771  The political tract in which Marx presented th...    3.54    Politics
62880  Presents nearly one thousand recipes--from app...    4.34     Cooking

                                                    Link  Number  \
419    https://raw.github.com/Kosty1703/picture-book/...   37051
741    https://raw.github.com/Kosty1703/picture-book/...   63790
769    https://raw.github.com/Kosty1703/picture-book/...   38714
910    https://raw.github.com/Kosty1703/picture-book/...   30528
1128   https://raw.github.com/Kosty1703/picture-book/...   29380
...                                                  ...     ...
62519  http://books.google.com/books/content?id=-UsyP...     871
62663  http://books.google.com/books/content?id=nMMgn...    4930
62668  http://books.google.com/books/content?id=3l4dy...     523
62771  http://books.google.com/books/content?id=WwTCa...    5026
62880  http://books.google.com/books/content?id=tQ97A...    1520

                                      Number_Description
419    37051 Describes growing up in an Africa that n...
741    63790 In her poignant work, Jodee Blanco tells...
769    38714 Hitty is a doll of great charm and chara...
910    30528 In James Patterson's blockbuster series,...
1128   29380 Originally published to glowing reviews ...
...                                                  ...
62519  871 Originally published to glowing reviews in...
62663  4930 Complemented by easy-to use, reliable map...
62668  523 Describes the people, customs, geography, ...
62771  5026 The political tract in which Marx present...
62880  1520 Presents nearly one thousand recipes--fro...

[176 rows x 8 columns]

In [28]:
# Удалим дубликаты по столбцам
df_small_large = df_small_large.drop_duplicates(subset=['Description'])

In [29]:
print(df_small_large.nunique())

Title                 61601
Authors               39051
Description           62814
Rating                  221
Category                 24
Link                   4836
Number                62814
Number_Description    62814
dtype: int64

In [31]:
# Сохраним итоговый датасет
df_small_large.to_csv("Books_FINISH_04-05-25.csv", index=False)