### Объединение датасетов

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns

In [10]:
# Загрузим датасет №1
processed_data = pd.read_csv('Data/Books_large_FINISH.csv')

df_large = pd.DataFrame(processed_data)

# Загрузим датасет №2
processed_data = pd.read_csv('Data/Books_small_FINISH.csv')

df_small = pd.DataFrame(processed_data)

In [11]:
df_small.sample(1)

,Title,Authors,Description,Rating,Category,Link
6271,Wasteland Vol. 1,Antony Johnston,"A hundred years after the Big Wet, Earth has b...",3.56,Mystery,http://books.google.com/books/content?id=8K7CP...

In [12]:
df_large.sample(1)

,Title,Authors,Description,Rating,Category,Link
14742,Atlas of Satellite Observations Related to Glo...,"By Gurney, R. J. (EDT), Foster, John L. (EDT),...",This timely volume provides an illustration of...,4.06,Adventure,https://raw.github.com/Kosty1703/pictures/main...

In [13]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6313 entries, 0 to 6312
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        6313 non-null   object
 1   Authors      6313 non-null   object
 2   Description  6313 non-null   object
 3   Rating       6313 non-null   float64
 4   Category     6313 non-null   object
 5   Link         6313 non-null   object
dtypes: float64(1), object(5)
memory usage: 296.1+ KB

In [14]:
df_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67508 entries, 0 to 67507
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        67508 non-null  object
 1   Authors      67508 non-null  object
 2   Description  67508 non-null  object
 3   Rating       67508 non-null  float64
 4   Category     67508 non-null  object
 5   Link         67508 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.1+ MB

In [15]:
# Объеденим датасеты в один
df_small_large = pd.concat([df_large, df_small], ignore_index=True)

In [16]:
df_small_large.sample(1)

,Title,Authors,Description,Rating,Category,Link
36671,Tender Mercy for a Mother's Soul: Inspiration ...,"By Guffey, Angela Thomas",Sometimes moms get so caught up in caring for ...,3.85,Self-help,https://raw.github.com/Kosty1703/pictures/main...

In [17]:
df_small_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73821 entries, 0 to 73820
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        73821 non-null  object
 1   Authors      73821 non-null  object
 2   Description  73821 non-null  object
 3   Rating       73821 non-null  float64
 4   Category     73821 non-null  object
 5   Link         73821 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.4+ MB

In [18]:
# Сохраним итоговый датасет
df_small_large.to_csv("Books_FINISH.csv", index=False)